{% extends 'main/base.html' %}

{% block content %}


<div class="container py-5">

<div class="card" style="width:70%">
  <div class="card-body">
    <div class="row ps-5">
        <div class="col-sm-12">
        <h1 class="py-5"><u>Change Password</u></h1>
        </div>
    </div>
    <div class="row ps-5">
        <div class="col-sm-6 col-sm-offset-3">
        <form method="POST" action="{% url 'change_password' %}">
        {% csrf_token %}
        <input type="password" class="input-lg form-control my-2" name="old_password" placeholder="Old Password" required>
        <div class="row">
            <div class="col-sm-6">
            <span  style="color:#FF0004;"></span> <i class="fa fa-circle fa-sm text-primary" aria-hidden="true"></i> 8 Characters Long<br>
            <span  style="color:#FF0004;"></span><i class="fa fa-circle fa-sm text-primary" aria-hidden="true"></i> One Uppercase Letter
        </div>
        <div class="col-sm-6">
        <span  style="color:#FF0004;"></span><i class="fa fa-circle fa-sm text-primary" aria-hidden="true"></i> One Lowercase Letter<br>
        <span  style="color:#FF0004;"></span><i class="fa fa-circle fa-sm text-primary" aria-hidden="true"></i> One Number
        </div>
       
    </div>
    <input type="password" class="input-lg form-control my-2" name="new_password1"  placeholder="Enter new password" required>
    <input type="password" class="input-lg form-control my-2" name="new_password2"  placeholder="Repeat new password" required>

        <input type="submit" class="col-xs-12 btn btn-primary btn-load btn-lg" value="change password">
        <a href="javascript:history.go(-1)" class="btn btn-default"> back</a>
        </form>
    </div><!--/col-sm-6-->
    </div><!--/row-->

    </div>
    </div>


</div>






{% endblock content %}