{% extends "main/base.html" %}

{% block content %}

{% if validlink %}

<div class="container h-100 d-flex justify-content-center align-items-center py-5 my-5">
<form method="POST">
{% csrf_token %}
<div class="card text-center" style="width: 800px;">
    <div class="card-header h5 text-white bg-primary">Password Reset</div>
    <div class="card-body px-5">
        <p class="card-text py-2">
            Enter your new password to confirm password change
        </p>
        <div data-mdb-input-init class="form-outline">
            <input type="password" name="new_password1" class="form-control my-3" required />
            <label class="form-label">Enter your new password</label>
        </div>
        <div data-mdb-input-init class="form-outline">
            <input type="password" name="new_password2" class="form-control my-3" required />
            <label class="form-label">Repeat your new password</label>
        </div>
        <button type="submit" class="btn btn-primary w-100">Reset password</button>
    </div>
</div>
</form>
</div>



{% else %}

<div class="container bg-dark text-white py-5 border border-5 border-danger mx-auto my-5">
     <div class="container py-5">
          <div class="row">
               <div class="col-md-2 text-center">
                    <p><i class="fa fa-exclamation-triangle fa-5x text-center text-danger"></i><br/>Access Denied</p>
               </div>
               <div class="col-md-10">             
                    <p><h3>Expired Activation link <br/>Please Turn to the site administrators or try to reset your password again</h3></p>
                    <a class="btn btn-warning" href="{% url 'login' %}">Back</a>
               </div>
          </div>
     </div>
</div>



{% endif %}

{% if form.errors %}

<div class="container h-100 d-flex justify-content-center align-items-center py-5 my-5">
<div role="alert">
    <div class="bg-danger text-white font-bold rounded-t px-4 py-2">
        
    </div>
    <div class="border border-t-0 border-danger rounded-b bg-danger px-4 py-3 text-white">
                                    
        {% for key, value in form.errors.items %}
            <p> <strong>{{ value }}</strong></p>
        {% endfor %}
                                    
                                    
    </div>
</div>
</div>
{% endif %}


{% endblock content %}